*{
    background-color: blue;
}

button {
    background-color: white;
    color: red;
    width: 100px;
    height: 50px;
    border: 2px solid currentColor;
}

/* Adicionar a mesma cor sem precisar digitar ela novamente
Usando o currentColor */